<html>
  <body>
      <div class="row">
          <div class="column">
              <div class="header" style="height: 500px">
                  <h2>
                      {{ title }}
                  </h2>
                  <h1>
                    {{ title1 }}
                  </h1>
                  <h2>
                      {{ title2 }}
                  </h2>
                  <h2>
                      {{ title3 }}
                  </h2>
                  <h3>
                    Data File Upload:
                    <input type="file" (change)="onFileSelected($event)">
                    <button type="button" (click)="onUpload()">Upload</button>
                </h3>

            </div>
          </div>
      </div>
  <div class="row">
    <div class="column">
          <div class="card" style="width: 80%;">
            <!-- Custom information -->
            <div class="about">
              <h3>Temperature in °C</h3>
            </div>
          <canvas id="tempCanvas" style="width: 100%;"></canvas>
                  <!-- Custom Axis -->
          <div class="axis">
              <div class="tick" *ngFor="let item of data">
                  <span class="time">{{item.time}}</span>
                  <span class="date">{{item.date}}</span>      
              </div>
          </div>
          </div>
    </div>
  </div>
  <div class="row">
      <div class="column">
          <div class="card">
              <!-- this creates a google map -->
              <!-- the component as the initial center of the map: -->
              <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
          </div>
      </div>
  </div>
  <div class="row">
        <div class="column">
          <div class="card" style="width: 80%;">
            <!-- Custom information -->
            <div class="about">
              <h3>Heart Beat Monitor</h3>
            </div>
          <canvas id="bpmCanvas" style="width: 100%;"></canvas>
                  <!-- Custom Axis -->
          <div class="axis">
                <div class="tick" *ngFor="let item of data">
                  <span class="time">{{item.time}}</span>
                  <span class="date">{{item.date}}</span>      
                </div>
          </div>
          </div>
      </div>
  </div>   
  </body>
</html>
